<h2>Hello! Sign In Here...</h2>

<form action='<%= session_url %>' method='post'>
  
  <input type = 'hidden'
          name = 'authenticity_token'
          value = '<%= form_authenticity_token %>'

  <label for='email'>Email:
    <input type = 'text' name='user[email]'>
  </label>

  <label for='password'>Password:
      <input type = 'password' name='user[password]'>
  </label>

  <input type='submit' value='Sign In'>
</form>